/*
  general style
*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8a2be2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #8a2be2;
}

.none{
    display: none;
}

body{
    background: url("../img/bgr.png");
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    border: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #00008a;
    color: #9e9eff;
}


.toolbar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: #7d7e7d;
    cursor: pointer;
    z-index: 1;
}

.closeWindow {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 5px 0 0 0;
    width: 30px;
    height: 25px;
    -webkit-app-region: no-drag;
}

.closeWindow {
    background: url("../img/12.png") no-repeat center;
}

.content{
    clear:both;
    height: 546px;
    padding-top: 32px;
}

.content .main{
    float: left;
    width: 748px;
    /*height: 600px;*/
    height: 101%;
    position: relative;
}

.loading{
    width: 50px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

@-webkit-keyframes ajax-loader-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader {
    opacity: .8;
    display: block;
    border-radius: 50%;

    font-size: 29px;
    width: .25em;
    height: .25em;
    margin: 0 auto;

    box-shadow:
        0 -.4em       0 0 rgba(0,0,0,1),
        -.28em -.28em 0 0 rgba(0,0,0,.75),
        -.4em 0       0 0 rgba(0,0,0,.50),
        -.28em .28em  0 0 rgba(0,0,0,.25)
;

    -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
    -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
    animation: .85s ajax-loader-rotate steps(8) infinite;
}

#basicMap{
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    position: absolute;
}


.olControlAttribution {
    display: none;
    /*padding: 5px;*/
    /*z-index: 1000;*/
    /*bottom: 0.2em !important;*/
    /*overflow: hidden;*/
    /*background: #575757;*/
    /*color: white;*/
    /*width: 33%;*/
    /*font-size: 1em !important;*/
    /*text-align: right;*/
    /* for IE */
    /*filter:alpha(opacity=90);*/
    /* CSS3 standard */
    /*opacity:0.9;*/
    /*border-radius: 4px;*/
}







